
<mat-card class="questions-card-width questions-card-margin">
  <mat-card-header>
    <mat-card-title>
      <p>Frage:</p>
    </mat-card-title>
    <mat-card-subtitle class="question-question-subtitle">
      <p>{{this.questionData.getCategories().categories[this.currentCategory].questions[this.currentQuestion].title}}</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="questions-content">
    <mat-list #answers class="question-section-answers">
      <mat-checkbox mat-list-option color="primary" *ngFor="let answer of randomAnswers" [value]="answer.index">{{answer.title}}</mat-checkbox>
    </mat-list>
    <section class="questions-section-buttons">
      <button mat-raised-button color="warn" class="questions-section-button">Lösung</button>
      <button mat-raised-button color="primary" class="questions-section-button">Weiter</button>
    </section>
  </mat-card-content>
</mat-card>
