
.categories-card-width {
  max-width: 800px;
  min-width: 200px;
}

.categories-card-margin {
  margin: 20px 20px 0px 20px;
}

.category-section-answers {
  margin: 20px 20px 0px 20px;
}

.category-category-subtitle {
  margin: 10px 10px 20px 30px;
}

.categories-section-buttons {
  text-align: center;
}

.categories-section-button {
  margin: 40px 10px 10px 10px;
  width: 40%;
}

.categories-content {
  margin-top: 20px;
}

.categories-spinner {
  margin: 0 auto;
}

.category-button {
  width: 100%;
  margin-top: 10px;
}
