
.card {
  margin: 10px;
}

.app-fill-remaining-space {
  flex: 1 1 auto;
}

.app-center-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  margin-bottom: 20px;
}

.app-drawer {
  min-width: 200px;
}
