<mat-toolbar color="primary" backgroundColor="primary">
  <span>Politik/Wirtschaft Q</span>
  <span class="app-fill-remaining-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item [routerLink]="'/dashboard'">Dashboard</a>
    <a mat-menu-item [routerLink]="'/search'">Suche</a>
    <a mat-menu-item [routerLink]="'/random'">Zufallsfragen</a>
    <a mat-menu-item [routerLink]="'/categories'">Kategorien</a>
  </mat-menu>
</mat-toolbar>

<div class="app-center-wrapper">
    <router-outlet></router-outlet>
</div>
