
<mat-card class="dashboard-card-width dashboard-card-margin">
  <mat-card-header>
    <mat-card-title>Projekt PoWi Q</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Diese Webanwendung dient des Lernens von Fachinhalten, bzw. Begrifflichkeiten, des Faches Politik/Wirtschaft in Niedersachsen hinsichtlich des Abiturs.</p>
  </mat-card-content>
</mat-card>
<mat-card class="dashboard-card-width dashboard-card-margin">
  <mat-card-header>
    <mat-card-title>Wie funktioniert die Webanwendung genau?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Eigentlich recht einfach!</p>
    <p>Diese Webanwendung wurde mit dem Typescript Framework <a class="app-link" target="blank" href="https://angular.io">Angular</a> erstellt. Dadurch, dass dieses Framework sehr umfangreich ist, konnten wir unsere Ideen kinderleicht umsetzen.<br>Und dies ist das Ergebnis</p>
    <p>Außerdem nutzt diese Webanwendung keine Meta-Daten des Webbrowsers und erstellt ebenfalls auch keine Cookies.<br>Es gibt bei dieser Webanwendung auch kein "richtiges Backend", d.h. es gibt keinen Server, bzw. keinen Code, welcher auf dem Server ausgeführt wird.<br>Im Umkehrschluss bedeutet dies, dass diese Anwendung auf den jeweiligen Endgeräten läuft - vorausgesetzt der Webbrowser unterstützt JavaScript.</p>
    <p>Nun, da unsere Zielgruppe i.d.R. Schüler sind und wir davon ausgehen, dass diese (hauptsächlich) mobile Endgeräte nutzen, war Ziel dieser Webanwendung auch, dass wir diese sehr "schlank" hinsichtlich des Traffics ausfallen lassen. D.h. es werden keine zusätzlichen Informationen im Hintergrund abgefragt (s. "Backend" API's), wie z.B. die einzelnen Fragen und deren Antworten - und stellt somit wenig Traffic für den Anwender dar.</p>
    <p>So viel zum Technischen...</p>
    <p>Wir wünschen euch mit der Anwendung noch eine große Freude</p>
    <p>Ein Seminarfach-Projekt einer Jahrgangsstufe 13 der <a class="app-link" target="blank" href="https://csn-buchholz.de">CSN-Buchholz</a></p>
    <p>Ansonsten, wie man so schön sagt: <a class="app-link" target="blank" href="https://github.com/TheMysteriousVincent/seminarfach-project-powi">Fork me on GitHub</a></p>
  </mat-card-content>
</mat-card>
