
<mat-card class="dashboard-card-width dashboard-card-margin">
  <mat-card-header>
    <mat-card-title>Projekt PoWi Q</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      Diese Webanwendung dient des Lernens von Fachinhalten, bzw. Begrifflichkeiten, des Faches Politik/Wirtschaft in Niedersachsen hinsichtlich des Abiturs.
  </mat-card-content>
</mat-card>
<mat-card class="dashboard-card-width dashboard-card-margin">
  <mat-card-header>
    <mat-card-title>Wie funktioniert die Webanwendung genau?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </mat-card-content>
</mat-card>
