@import '~@angular/material/theming';
.mat-checkbox-layout {
  white-space: normal !important;
  padding: 10px 20px 10px 20px;
}

@include mat-core();

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eaeaea;
}
